## Currency Conversion Problem

Over the years you have traveled to eight different countries and just happen to have leftover local currency from each of your trips. 
You are planning to return to one of the eight countries, but you aren't sure which one just yet. 
You are waiting to find out which will have the cheapest airfare. 

In preparation, for the trip you *will* want convert *all* your local currency into the currency local of the place you will be traveling to. 
Therefore, to double check the bank's conversion of your currency, you want to compute the total amount of currency you would expect for each of the eight countries. 
To compute the conversion you first need to import a matrix that contains the currency conversion rates for each of the eight countries. The data we will be use comes from the [Overview Matrix of Exchange Rates from Bloomberg Cross-Rates _Overall Chart_](https://www.bloomberg.com/markets/currencies/cross-rates) on January, 10 2018.

<img src="currencyProbImage.png" height=300 width=750>

In [1]:
import numpy as np
import pandas as pd

money = np.asarray([70, 100, 20, 80, 40, 70, 60, 100])

currency_label = ["USD", "EUR", "JPY", "GBP", "CHF", "CAD", "AUD", "HKD"]
money_df = pd.DataFrame(data=money, index=currency_label, columns=["Amounts"])
print("Inputs Vector:")
money_df.T

Inputs Vector:

         USD  EUR  JPY  GBP  CHF  CAD  AUD  HKD
Amounts   70  100   20   80   40   70   60  100

In [6]:
path = %pwd

conversion_rates_df = pd.read_csv(path+"/currencyConversionMatrix.csv",header=0,index_col=0)
conversion_rates = conversion_rates_df.values

print("Weights Matrix:")
conversion_rates_df

Weights Matrix:

           USD     EUR       JPY     GBP     CHF     CAD     AUD      HKD
USD-To  1.0000  0.8364  111.3700  0.7404  0.9781  1.2548  1.2760   7.8218
EUR-To  1.1956  1.0000  133.1540  0.8852  1.1694  1.5002  1.5256   9.3517
JPY-To  0.0090  0.0075    1.0000  0.0066  0.0088  0.0113  0.0115   0.0702
GBP-To  1.3507  1.1297  150.4275  1.0000  1.3211  1.6949  1.7235  10.5649
CHF-To  1.0224  0.8551  113.8636  0.7569  1.0000  1.2829  1.3046   7.9969
CAD-To  0.7969  0.6666   88.7552  0.5900  0.7795  1.0000  1.0169   6.2335
AUD-To  0.7837  0.6555   87.2807  0.5802  0.7665  0.9834  1.0000   6.1299
HKD-To  0.1278  0.1069   14.2384  0.0947  0.1250  0.1604  0.1631   1.0000

Matrix multiplication, where the _**inputs** vector_($x_{1}...x_{n}$) multiplied by the _**weights** matrix_($w_{11}...w_{nm}$) to compute the _**outputs** vector_($y_{1}...y_{m}$). 

$\hspace{4cm} \begin{bmatrix} x_{1}&x_{2}&...&x_{n}\end{bmatrix} \begin{bmatrix} w_{11}&w_{12}&...&w_{1m}\\ w_{21}&w_{22}&...&w_{2m}\\ ...&...&...&... \\ w_{n1}&w_{n2}&...&w_{nm}\end{bmatrix} = \begin{bmatrix} y_{1}&y_{2}&...&y_{m}\end{bmatrix}$

In [7]:
money_totals = np.matmul(money, conversion_rates)

money_totals_df = pd.DataFrame(data = money_totals, index = currency_label, columns = ["Money Totals"])
print("Outputs Vector:")
money_totals_df.T

Outputs Vector:

,USD,EUR,JPY,GBP,CHF,CAD,AUD,HKD
Money Totals,454.277,379.96,50593.59,336.338,444.326,570.034,579.667,3553.307